<html>
       <head>

               <script>

                  function changeColour(htmlelement)
                  {
                    htmlelement.style.color="red"
                  }
                  function changeColour2 (htmlelement)
                  {
                    htmlelement.style.color="black"
                  }

               </script>


       </head>

       <body>


              <input type="text" value="javascript" onfocus="changeColour(this)" onblur="changeColour2(this)">



       </body>


</html>